body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-image:url("https://trello-backgrounds.s3.amazonaws.com/SharedBackground/2400x1600/2c2ce217b62c072cb2b5250af4f37532/photo-1592490309181-bc4951396f30.jpg");
  background-size: cover;
  background-repeat: no-repeat;


}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
